body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgba(255, 244, 179, 1);
}

.register-container {
  max-width: 600px;
  width: 80%;
  margin: auto;
  text-align: center;
}

.register-box {
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(254, 183, 129, 1);
  border-radius: 10px;
  padding: 100px;
  margin-top: 20px;


}

.register-box h1 {
  font-size: 18px;

  font-weight: normal;

  margin-top: 20px;

}

.register-box input {
  display: block;
  width: 80%;
  padding: 10px;
  margin: 10px auto 15px;
  border: 1px solid #000000;
  border-radius: 5px;
}



.register-button {
  background-color: #fdbb1d;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(254, 183, 129, 1);
  transition: background-color 0.3s;
}

.register-button:hover {
  background-color: #fd7d1c;
  box-shadow: 0 0 5px rgba(254, 183, 129, 1);
}

.register-button a {
  text-decoration: none;
  color: inherit;
}

.login-container {
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

.login-container p {
  margin: 0;
}

.login-container a {
  color: inherit;
}

.register-link {
  margin-top: 10px;
}

.register-link a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

.register-link a:hover {
  text-decoration: underline;
}


@media (max-width: 600px) {
  .register-container {
    max-width: 100%;
  }

  .register-box {
    padding: 10px;
  }
}